body {
  background-image: url(grey-grunge.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
img {
  border-style: solid;
  border-color: white;
}
.modal-backdrop {
  background-color: rgb(77, 73, 73);
}
.radius {
  border-radius: 15%;
}

